@model LetsFightCovid.Models.Ambulance

@{
    ViewBag.Title = "Details";
}

<h2>Details Ambulance Information</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ambulance_availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ambulance_availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ambulance_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ambulance_contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ambulance_rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ambulance_rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ambulance_ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "IndexAmb")
</p>
