@model IEnumerable<LetsFightCovid.Models.Hospital>

@{
    ViewBag.Title = "IndexHos1";
}

<h2>Hospital Information</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hospital_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hospital_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hospital_contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hospital_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hospital_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hospital_contact)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.hospital_ID }, new { @class = "btn btn-success btnStyle" }) 
         
        </td>
    </tr>
}

</table>
