@model IEnumerable<LetsFightCovid.Models.Icu>

@{
    ViewBag.Title = "IndexIcu";
}

<h2>ICU Information</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.icu_availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost_per_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hospital_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.icu_availability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost_per_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hospital_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.icu_ID }, new { @class = "btn btn-primary btnStyle" }) |
            @Html.ActionLink("Details", "Details", new { id=item.icu_ID }, new { @class = "btn btn-success btnStyle" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.icu_ID }, new { @class = "btn btn-danger btnStyle" })
        </td>
    </tr>
}

</table>
