@model LetsFightCovid.Models.OxygenProvider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.provider_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provider_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider_contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_per_cylinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_per_cylinder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "IndexOx1")
</p>
