@model IEnumerable<LetsFightCovid.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pid }, new { @class = "btn btn-primary btnStyle" }) |
            @Html.ActionLink("Details", "Details", new { id=item.pid }, new { @class = "btn btn-success btnStyle" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pid }, new { @class = "btn btn-danger btnStyle" }) |
            @Html.ActionLink("Images", "Images", new { id = item.pid }, new { @class = "btn btn-primary btnStyle" })

        </td>
    </tr>
}

</table>
